<!-- can use the css in layout or any file that "extends" layout file-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel= "stylesheet" href="static/css/main.css">
       
    </head>

    <body style="background-color: white">
    
    {% block header %}
    {% endblock header %}
  
    <nav class="navbar navbar-expand-lg" style="background-color: #088256">
        <a class="navbar-brand" style="color:white" href="{{ url_for('home') }}">Bird <span style="font-size:9px;color:white"> on the</span> Brain  |  </a>

        <button style="background-color:#0c573b;color:black" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"  aria-label="Toggle navigation">

            <span style="color:black"  class="navbar-toggler-icon">☰</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {# url_for('route function name') creates a link to that route #}
                    <a style="color:white" class="nav-link" href="{{ url_for('home') }}">Home &nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{url_for('api.postSighting') }}">Add Bird &nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{url_for('api.getAnnualList') }}">Annual & Lifetime Lists &nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{url_for('api.internalSearch') }}">Bird Brain Search &nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{url_for('api.eBirdSearchFunction') }}">eBird Search &nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{url_for('api.fetchEvilCatFact') }}">The Enemy</a>
                </li>
            </ul>


            

            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item active ml-auto">
                    <a style="color:white" class="nav-link" href="{{ url_for('blog.userProfile', username=current_user.username) }}">Chirp @ Charm &nbsp;&nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{ url_for('auth.logout') }}">Sign Out</a>
                </li>
                {% else %}
                <li class="nav-item active ml-auto">
                    <a style="color:white" class="nav-link" href="{{ url_for('auth.login') }}">Sign In &nbsp;&nbsp;&#8226;</a>
                </li>
                <li class="nav-item active">
                    <a style="color:white" class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>





    <table style="margin-top:10px;border:none;margin-left:auto;margin-right:auto">
        <tr>
            <td> <img class='img-fluid' style="width:83px;height:125px;min-width:83px" src="../static/images/parrot_red_c.jpg" alt='Red Parrot' /></td>
            <td> <img class='img-fluid' style="width:83px;height:125px;min-width:83px" src="../static/images/bluejay_portrait.jpg" alt='bluejay_portrait_c' /></td>  
            <td> <img class='img-fluid' style="width:100px;height:125px;min-width:100px" src="../static/images/oriole_portrait.jpg" alt='oriole' /></td>  
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/turqoise_bird.jpg" alt='Turquois Bird' /></td>  
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/cardinal_portrait.jpg" alt='Cardinal' /></td>  
            <td> <img class='img-fluid' style="width:93px;height:125px;min-width:93px" src="../static/images/pigeon.jpg" alt='Pigeon' /></td>  
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/goldfinch2.jpg" alt='Goldfinch' /></td>  
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/long_tail_slateblue.jpg" alt='Long Tail Slateblue Bird' /></td>  
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/owl.jpg" alt='Owl' /></td>          
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/parrot.jpg" alt='Parrot' /></td>  
            <td> <img class='img-fluid' style="width:94px;height:125px;min-width:94px" src="../static/images/blue_yelllow_winter.jpg" alt='Blue and Yellow Fuzzy Bird' /></td>
        </tr>
        
    </table>
    <br>
    <div style="width: 1045px;margin-right:auto;margin-left:auto">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="text-align:center">
                    {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block content %}
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
</body>
</html>