{% extends 'components/layout.html' %}

{% block title %}Charm Chirps{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

<h3 style="color:#088256;text-align:center">Chirp at the Charm: Share Info and Pics with Other Bird Brainers<sup><span style="font-size:16px">*</span></sup></h3>

<hr style="border: 5px solid #088256;">

{% if not user %}
    <div class="row justify-content-center">
        <div class="col-6 justify-content-center">
            <h3 style="color:red">404: Sorry! This nest is empty.  Make sure you are signed in.</h3>
        </div>
    </div>
{% else %}



    <div class="row">
        <div class= "col-8"> 
    
            {% if user.id == current_user.id %}
                <!-- Sam did not have class="3p" below -->
                <form class="form-inline" method="POST" style="color:#088256;margin-left:30px">
                    {{form.hidden_tag()}}
                    <div class="form-group" >
                        <fieldset id="new_post-field">
                            <!-- Sam removed next line -->
                            {{ form.new_post(class='form-control', placeholder='Chirp to the Charm...') }}
                
                        </fieldset>
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>

                    <div style="background-color:#088256;border-radius:10px">
                        {{form.submit (class='btn btn-info btn-rounded', style='background-color:#088256') }}
                    </div>
                        <!-- {{ form.submit(class='btn btn-block btn-info') }} -->
                
                </form>
            <hr>
            {% endif %}

            {% if posts %}
                {% for post in posts %}
                <div class="card mb-3" style="margin-left:30px">
                    <div class="card-header">
                        <h5 class="m-0">@{{user.username}}
                            {% if user.id == current_user.id %}
                                <a class="btn btn-sm float-right mr-auto" style="background-color:#088256;color:white" href="{{ url_for('blog.deletePost', pid=post.id) }}">Delete</a>
                            {% endif %}
                        </h5>
                    </div>
                    <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p> {{ post.body}} </p>
                        <footer class="blockquote-footer"><cite title="Source Title">{{ post.timestamp.strftime('%Y/%#m/%#d (%#I:%M %p)') }}</cite></footer>
                    </blockquote>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h4 style="margin-left:30px">{{user.username}} has no chirps to check.</h4>
            {% endif %}

        </div>
        <div class= "col-4">
            <div class="card">
                <!-- may want to restore image section later for user profile image -->
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text" style="color:gray">(Favorite Bird)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ user.first_name}}  {{ user.last_name}}</li>
                    <li class="list-group-item">Bird Brain Member Since {{ user.created.strftime('%Y') }}</li>
                </ul>
                
                {% if user.id != current_user.id %}
                <div class="card-body">
                    <a href="#" class="btn btn-block btn-info" style="background-color:#088256">(Follow Button Placeholder)</a>
                </div>
                {% endif %}
            </div>


        </div>
    </div>


{% endif %}









<br>
<br>
<br>
<hr>
<div style="margin-left:30px">
    <p style="color:gray">*A "charm" is a name for a group of magpies or finches (<a href="https://safarisafricana.com/collective-nouns-for-birds/" style="font-size:13.5px;color:gray">Collective Bird Nouns</a>).</p>
</div>


{% endblock content%}