/* navbar borrowed from pre-work portfolio */

nav li {
    display: inline;
    margin: 20px;
    
    
}

nav ul{
    background-color: rgba(3, 15, 119, 0.521);
    margin: 0;  /*on outside of container, nav ul in this case*/
    list-style-type: none; /* removes bullets from nav list elements*/
    width: 100%;
    padding: 0px;  /*space outside containter, between nav ul and its container*/
    
}

nav {
    display: block;
    color: lightsteelblue;
}



nav a{
    
    text-decoration: none;  /*removes underlines beneath links*/
}

nav a:hover{
    color:white;
    background-color: rgba(3, 15, 119, 0.521);
    border-radius: 10px;
    padding: 1px;
}

.nav-links{
    font-size: 25px;
    color: lightsteelblue;
}

/* end navbar borrowed from prework portolio */

body {
    margin-left: 20px;
    background-color: rgb(252, 250, 250)
}

table, td, th {
    border: 2px solid rgba(3, 15, 119, 0.521);
    border-collapse: collapse
}

th {
    background-color: rgba(3, 15, 119, 0.521);
}