{% extends 'base.html'%}
{% block title%}Change Password{% endblock title%}

{% block legend %}Change Password{% endblock legend %}

{% block content%}

<form class="p3" method="POST" style="color:#088256">
    {{form.hidden_tag()}}

    <div class="form-group" style="font-weight:bold">
        <fieldset>
            {{form.password.label }}
            {{ form.password(class='form-control', placeholder='Password. . .') }}
        </fieldset>
    </div>

    <div class="form-group" style="font-weight:bold">
        <fieldset>
            {{form.confirm_password.label }}
            {{ form.confirm_password(class='form-control', placeholder='Confirm password. . .') }}
        </fieldset>
    </div>

    <div style="background-color:#088256;border-radius:10px">
        {{form.submit (class='btn btn-block btn-info btn-rounded', style='background-color:#088256') }}

    </div>

    <!-- starting to work on reset password button in code below  
    Using this video here; was using another video in routes
    https://www.youtube.com/watch?v=zYWpEJAHvaI (currently at minute 2:53 (created template reset-request.html already))-->

</form>

{% endblock content%}