{% extends 'base.html'%}
{% block title%}Sign In{% endblock title%}


{% block content%}

<form class="p3" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group" style="margin-top:30px; font-weight:bold">
        <fieldset>
            {{form.username.label}}
            {{ form.username(class='form-control', placeholder='Username. . .') }}

        </fieldset>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" style="font-weight:bold">
        <fieldset>
            {{form.password.label }}
            {{ form.password(class='form-control', placeholder='Password. . .') }}
        </fieldset>
    </div>
        <div style="background-color:#088256;border-radius:10px">
        {{form.submit.label (class='btn btn-block btn-info btn-rounded', style='background-color:#088256') }}
        </div>

</form>

{% endblock content%}








