{% extends 'components/layout.html' %}

{% block title %}Personal Lists{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

<form class="p-5" method="POST">
    {{  form.hidden_tag() }}
    <div class="col-8">
        <div class="form-check">
            <fieldset>
                {{ form.annual(class='form-check-input', type='radio') }}
                {{ form.annual.label }}
            </fieldset>
        </div>
    </div>
    <div class="col-8">
        <div class="form-check">
            <fieldset>
                {{ form.lifetime(class='form-check-input', type='radio') }}
                {{ form.lifetime.label }}
            </fieldset>
        </div>
    </div>
    <div class="col-8">
        <div class="form-check">
            <fieldset>
                {{ form.backyard(class='form-check-input', type='radio') }}
                {{ form.backyard.label }}
            </fieldset>
        </div>
    </div>
    <div class="col-8">
        <div class="form-check">
            <fieldset>
                {{ form.outing(class='form-check-input', type='radio') }}
                {{ form.outing.label }}
            </fieldset>
        </div>
    </div>
    
    {{ form.submit(class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100px')}}
</form>

  {% endblock content %}