

{% extends 'components/layout.html' %}

{% block title %}Home{% endblock title %}

{% block header %} 
{% endblock header %}

{% block content %}

<br>
<h3 style="color:#088256"><b>Bird<span style="font-size:9px;color:#088256">on the</span>Brain:  </b></span><span style="font-size:25px">  Bounty for Birders</span></h3>

<hr style="border: 5px solid #088256">



<div class="row justify-content-center">
    <div class="col-4" style="padding-top:20px">
        <div  style="font-size:22px">
            <ul>
                <li>
                    <a style="color:#088256"  href="{{url_for('api.postSighting') }}">Add a Bird to Personal Lists </a>
                </li>
                <li>
                    <a style="color:#088256"  href="{{url_for('api.getAnnualList') }}">Check Your Annual and Lifetime Lists </a>
                </li>
                <li>
                    <a style="color:#088256"  href="{{url_for('api.internalSearch') }}">Search Your Own & Other Bird Brain's Sighting </a>
                </li>
                <li>
                    <a style="color:#088256"  href="{{url_for('api.eBirdSearchFunction') }}">Search eBird for Area Sightings</a>
                </li>
                <li>
                    <a style="color:#088256"  href="{{url_for('api.fetchEvilCatFact') }}">The Enemy</a>
                </li>
            </ul>
        </div>        
    </div>
     
    <div class="col-4" style="margin-top:30px">

        <img style="padding-top:-10px;width:750px;height:500"  src="../static/images/Crane_fish.jpg" alt='bluejay_portrait' />

    </div>
</div>

{% endblock content %}


