

{% extends 'components/layout.html' %}

{% block title %}Home{% endblock title %}

{% block header %} 
{% endblock header %}

{% block content %}


<br>
<div style="text-align: center">
    <h3 style="color:#088256;font-size:45px"><b>Bird<span style="font-size:9px;color:#088256">on the</span>Brain:  </b></span><span style="font-size:45px">  Bounty for Birders</span></h3>
    </div>

<hr style="border: 5px solid #088256">



<div class="row justify-content-center">
    <div class="col-4" style="padding-top:30px">
        <div  style="font-size:22px">
            <ul style="list-style:none;">
                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%; height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('api.postSighting') }}">Add a Bird</a>
                </li>
                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%;height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('api.getAnnualList') }}">Annual & Lifetime Lists </a>
                </li>
                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%;height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('api.internalSearch') }}">Bird Brainers' Sighting </a>
                </li>
                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%;height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('api.eBirdSearchFunction') }}">Search eBird</a>
                </li>
                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%;height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('api.fetchEvilCatFact') }}">The Enemy</a>
                </li>

                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%;height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('blog.newsfeed') }}">Bird Feed </a>
                </li>
                <li>
                    <a class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%;height: 63px; margin-bottom:10px; font-size:27px'  href="{{url_for('blog.users') }}">Find Bird Brainers</a>
                </li>
            </ul>
        </div>        
    </div>
     
    <div class="col-4" style="margin-right:200px;margin-top:30px">

        <img style="padding-top:-10px;width:750px;height:500"  src="../static/images/Crane_fish.jpg" alt='bluejay_portrait' />

    </div>
</div>

{% endblock content %}


