{% extends 'components/layout.html' %}

{% block title %}Search Your Sightings{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

<br>
<h3 style="color:#088256;text-align:center">Search Bird Brain Sightings</h3>

<hr style="border: 5px solid #088256;">

<h4 style="padding-left:62px; padding-bottom:-30px;margin-bottom:-30px;padding-top:10px;margin-top:10px">Search <b>One</b> Field at a Time</h4>

<form class="p-5" method="POST">
    {{  form.hidden_tag() }}
    <div class="col-4">
        <div class="form-group" style="border:2px solid #088256; padding:10px">
            <fieldset>
                {{ form.common_name.label }}
                {{ form.common_name(class='form-control', placeholder='Bird Name') }}
            </fieldset>
        </div>
    </div>  
    <div class="col-4">
        <div class="form-group" style="border:2px solid #088256; padding:10px">
            <fieldset>
                {{ form.date_year.label }}
                {{ form.date_year(class='form-control', placeholder='Year') }}
            </fieldset>
        </div>
    </div>  
    <div class="col-4">
        <div class="form-group" style="border:2px solid #088256; padding:10px">
            <fieldset>
                {{ form.county.label }}
                {{ form.county(class='form-control', placeholder='County') }}
            </fieldset>
        </div>
    </div>  
    <div class="col-4">
        <div class="form-group" style="border:2px solid #088256; padding:10px">
            <fieldset>
                {{ form.state.label }}
                {{ form.state(class='form-control', placeholder='State') }}
            </fieldset>
        </div>
        {{ form.submit(class='btn btn-primary', style='background-color:#088256;border-radius:10px;width:100%')}}
    </div>  
</form>

  {% endblock content %}