{% extends 'components/layout.html' %}

{% block title %}Annual/Lifetime Lists{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}

<br>
<h3 style="color:#088256;text-align:center">Check Your Annual or Lifetime Lists</h3>

<hr style="border: 5px solid #088256;margin-bottom: -10px;padding-bottom:-10px">

<div class="row justify-content-center">
    <div class="dropdown" style="margin-top:50px">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "width:300px">
        Dropdown button
        </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Vincent: 5d84df52-aa73-4faa-8309-cade9deadbcd</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
    
    
    <div class="col-5" style="margin-top:30px">

        <img class='img-fluid' style="padding-top:-10px"  src="../static/images/rainbow_duck.jpg" alt='Rainbow Duck' />

    </div>

</div>

  {% endblock content %}